language: python
python:
  - "3.6"
services:
- docker

env:
  - DOCKER_COMPOSE_VERSION="1.20.0"

install:
- pip install coverage
- pip install codecov
- cp template.env .env
- touch app/static/index.html
- mkdir saml/certs
- openssl req -x509 -nodes -days 365 -newkey rsa:2048 -subj "/C=US/ST=New York/L=Rochester/O=RIT/OU=SG Services/CN=sg.rit.edu" -keyout saml/certs/sp.key -out saml/certs/sp.crt
- sudo rm /usr/local/bin/docker-compose
- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
- chmod +x docker-compose
- sudo mv docker-compose /usr/local/bin

before_script:
- docker-compose run -d --name flask_web flask

script:
- docker exec -it flask_web py.test --cov=./app
- docker exec -it flask_web coverage xml

after_script:
- codecov
