certifi==2017.7.27.1
chardet==3.0.4
click==6.7
codecov==2.0.9
coverage==4.4.1
enum-compat==0.0.2
eventlet==0.21.0
Flask==0.12.2
Flask-SocketIO==2.9.2
Flask-SQLAlchemy==2.2
greenlet==0.4.12
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
nose==1.3.7
pbr==3.1.1
psycopg2==2.7.3.1
py==1.4.34
pyasn1==0.3.3
pyldap==2.4.37
pytest==3.2.2
pytest-cov==2.5.1
pytest-mock==1.6.2
python-engineio==1.7.0
python-socketio==1.8.0
requests==2.18.4
six==1.10.0
SQLAlchemy==1.1.13
SQLAlchemy-Utils==0.32.15
urllib3==1.22
Werkzeug==0.12.2
