"""
filename: secrets.py
description: Safe place to store app credentials.
created by: Omar De La Hoz (oed7416@rit.edu)
created on: 09/05/17
"""

# Application secret key for token authentication.
APP_SECRET_KEY = ""

# Credentials for email.
MAIL_USERNAME = ""
MAIL_PASSWORD = ""

SQLALCHEMY_DATABASE_URI = ""
SQLALCHEMY_TEST_DATABASE_URI = "postgresql:///tigertrackertest"
